RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /403.html [L]

RewriteCond %{REQUEST_URI} ^/500/$
RewriteRule ^(.*)$ /403.html [L]
